<div class="banner d-flex" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2534&q=80);">
  <div class="container" style="color: white;">
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name, label: "What's the name of the Cocktail?" %>
      <%= f.input :img_url, label: "Add a link to an image of your drink" %>
      <div class="d-flex justify-content-between">
        <%= f.submit "Create Cocktail", class: "btn btn-primary" %>
        <%= link_to "Home", cocktails_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
