<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #0A313B;">
    <%= yield %>
    <%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
<div class="footer">
  <div class="footer-copyright">
    Liked it? Follow me on social Media!
  </div>
  <div class="footer-links">
    <a href="https://github.com/vittav" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/vitor_tavares7/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/vitor.tavares07" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/vittav" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/vitor-tavares-9257116a/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>

  </body>
</html>
